<h1>Supply Prices</h1>

<table cellpadding="4" border="1" cellspacing="0" style="margin-top: 25px;">
<th>
  <td>Tick Bombs</td>
  <td>Bug Spray</td>
  <td>Roach Killer</td>
  <td>Ant Bait</td>
  <td>Mosquito Nets</td>
</th>
<tr bgcolor="#cccccc">
  <td>Company 1</td>
  <td>24.00</td>
  <td>10.99</td>
  <td>12.49</td>
  <td>0.50</td>
  <td>7.98</td>
</tr>
<tr>
  <td>Company 2</td>
  <td>24.00</td>
  <td>10.99</td>
  <td>12.49</td>
  <td>0.50</td>
  <td>7.98</td>
</tr>
<tr bgcolor="#cccccc">
  <td>Company 3</td>
  <td>24.00</td>
  <td>10.99</td>
  <td>12.49</td>
  <td>0.50</td>
  <td>7.98</td>
</tr>
</table>
